In [1]:
from owslib.wfs import WebFeatureService 


# connect to geoserver-rc WFS service
serverURL = 'http://geoserver-rc.aodn.org.au/geoserver/ows'
wfs = WebFeatureService(serverURL)

# select a feature type and get its metadata
ftype = 'imos:anmn_nrs_bgc_chemistry_data'
fmeta = wfs.contents[ftype]

In [2]:
# Look at some basic metadata 
# (not much there in this case, but there could be)
print fmeta.title
for attrib in ['title', 'abstract', 'keywords', 'boundingBoxWGS84', 'crsOptions']:
    print '  %s: %s' % (attrib, getattr(fmeta, attrib))

anmn_nrs_bgc_chemistry_data
  title: anmn_nrs_bgc_chemistry_data
  abstract: None
  keywords: ['anmn_nrs_bgc_chemistry_data, features']
  boundingBoxWGS84: (113.779, -42.59667, 153.562, -12.4)
  crsOptions: [urn:ogc:def:crs:EPSG::4326]

In [3]:
# request data within a bounding box
bbox = (130., -43., 153., -40.)
response = wfs.getfeature(typename=[ftype], bbox=bbox, outputFormat='csv')

# load result into dataframe
import pandas as pd
df = pd.read_csv(response)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 635 entries, 0 to 634
Data columns (total 32 columns):
FID                        635 non-null object
STATION_NAME               635 non-null object
LOCAL_TRIP_START_TIME      635 non-null object
IMOS_SITE_CODE             635 non-null object
NRS_TRIP_CODE              635 non-null object
NRS_SAMPLE_CODE            635 non-null object
UTC_TRIP_START_TIME        635 non-null object
LATITUDE                   635 non-null float64
LONGITUDE                  635 non-null float64
SAMPLE_DEPTH_M             635 non-null int64
SALINITY                   619 non-null float64
SALINITY_FLAG              635 non-null int64
SALINITY_COMMENTS          105 non-null object
SILICATE_UMOL_PER_L        628 non-null float64
SILICATE_FLAG              635 non-null int64
NITRATE_UMOL_PER_L         628 non-null float64
NITRATE_FLAG               635 non-null int64
PHOSPHATE_UMOL_PER_L       628 non-null float64
PHOSPHATE_FLAG             635 non-null int64
AMMONIUM_UMOL_PER_L        627 non-null float64
AMMONIUM_FLAG              635 non-null int64
NUTRIENT_COMMENTS          105 non-null object
TCO2_UMOL_PER_KG           374 non-null float64
CARBON_FLAG                635 non-null int64
CARBON_COMMENTS            10 non-null object
TALKALINITY_UMOL_PER_KG    370 non-null float64
ALKALINITY_FLAG            635 non-null int64
ALKALINITY_COMMENTS        56 non-null object
OXYGEN_UMOL_PER_L          505 non-null float64
OXYGEN_FLAG                635 non-null int64
OXYGEN_COMMENTS            105 non-null object
geom                       635 non-null object
dtypes: float64(10), int64(9), object(13)
memory usage: 163.7+ KB

In [4]:
# preview
df.head()

,FID,STATION_NAME,LOCAL_TRIP_START_TIME,IMOS_SITE_CODE,NRS_TRIP_CODE,NRS_SAMPLE_CODE,UTC_TRIP_START_TIME,LATITUDE,LONGITUDE,SAMPLE_DEPTH_M,...,TCO2_UMOL_PER_KG,CARBON_FLAG,CARBON_COMMENTS,TALKALINITY_UMOL_PER_KG,ALKALINITY_FLAG,ALKALINITY_COMMENTS,OXYGEN_UMOL_PER_L,OXYGEN_FLAG,OXYGEN_COMMENTS,geom
0,anmn_nrs_bgc_chemistry_data.fid--6c360428_154e...,Maria Island,2009-04-21 11:45,NRSMAI,NRSMAI20090421,NRSMAI20090421_000,2009-04-21T01:45:00,-42.5967,148.2333,0,...,2075.52,1,NaN,2327.27,1,NaN,NaN,9,NaN,POINT (148.23333 -42.59667)
1,anmn_nrs_bgc_chemistry_data.fid--6c360428_154e...,Maria Island,2009-04-21 11:45,NRSMAI,NRSMAI20090421,NRSMAI20090421_010,2009-04-21T01:45:00,-42.5967,148.2333,10,...,2074.78,1,NaN,2331.13,1,NaN,NaN,9,NaN,POINT (148.23333 -42.59667)
2,anmn_nrs_bgc_chemistry_data.fid--6c360428_154e...,Maria Island,2009-04-21 11:45,NRSMAI,NRSMAI20090421,NRSMAI20090421_020,2009-04-21T01:45:00,-42.5967,148.2333,20,...,NaN,9,NaN,NaN,9,NaN,NaN,9,NaN,POINT (148.23333 -42.59667)
3,anmn_nrs_bgc_chemistry_data.fid--6c360428_154e...,Maria Island,2009-04-21 11:45,NRSMAI,NRSMAI20090421,NRSMAI20090421_030,2009-04-21T01:45:00,-42.5967,148.2333,30,...,2079.13,1,NaN,2327.28,1,NaN,NaN,9,NaN,POINT (148.23333 -42.59667)
4,anmn_nrs_bgc_chemistry_data.fid--6c360428_154e...,Maria Island,2009-04-21 11:45,NRSMAI,NRSMAI20090421,NRSMAI20090421_040,2009-04-21T01:45:00,-42.5967,148.2333,40,...,NaN,9,NaN,NaN,9,NaN,NaN,9,NaN,POINT (148.23333 -42.59667)